<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:enableOnBackInvokedCallback="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp.MySplash"
        tools:targetApi="tiramisu">
        <receiver
            android:name=".Widgets.FeedWidgetReceiver"

            android:exported="true"
            android:label="Feed Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"

                android:resource="@xml/feed_widget" />
        </receiver>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MyApp.MySplash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
        <activity android:name="com.example.rss_parser.YourActivity"/>
        <activity-alias
            android:name=".MainActivityorange"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher1"

            android:roundIcon="@mipmap/ic_launcher1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityblack"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_black"
            android:roundIcon="@mipmap/ic_launcher_black_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivitywhite"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_white"
            android:roundIcon="@mipmap/ic_launcher_white_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivitymint"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_mint"
            android:roundIcon="@mipmap/ic_launcher_mint_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivitytwilight"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_twilight"
            android:roundIcon="@mipmap/ic_launcher_twilight_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityweb"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_web"
            android:roundIcon="@mipmap/ic_launcher_web_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivitynews"
            android:exported="true"
            android:enabled="false"

            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_news"
            android:roundIcon="@mipmap/ic_launcher_news_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>







    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/html" />
        </intent>
    </queries>

</manifest>